{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>This is just an exampe app to show my skills</p>
    </div>
</div>
{% endblock %}
