{% extends "layout.html" %}
{% set active_page = "artwork" %}
{% set angular_app = "artwork" %}

<!-- XXX should be done with flask assets -->
{% block js %}
<script type="text/javascript" src="/static/js/artwork.js"></script>
{% endblock %}

{% block content %}
{% raw %}
<div ng-controller="IndexCtrl" ng-cloack>
    <div class="container-fluid">
        <div class="row" style="margin-top: 30px">
            <div class="col-lg-4">
                <h1 style="margin-top: -12px; padding-bottom: 20px">Inventory</h1>
            </div>
            <div class="col-lg-4">
                <input
                        type="text"
                        class="form-control"
                        id="search"
                        placeholder="Search your {{ artworks.length }} artworks"
                        ng-model="search_text">
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
     <div class="container-fluid">
       <script type="text/ng-template" id="deleteArtwork.html">
            <div class="modal-header">
                <h3 class="modal-title">Deleting Artworks</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="artwork in artworks_to_delete">
                        {{ artwork.name }}, {{ artwork.artist }} ({{ artwork.year }})
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="ok()">Delete</button>
                <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-3">
                                    <h5>Title &amp; Date</h5>
                                </div>
                                <div class="col-lg-2">
                                    <h5>Medium &amp; Material</h5>
                                </div>
                                <div class="col-lg-2">
                                    <h5>Dimensions &amp; Color</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-repeat="artwork in artworks | filter:search_text">
                        <form editable-form shown="inserted == artwork" name="editableForm" onaftersave="save(artwork)">
                        <div class="row">
                            <div class="col-lg-2"
                                 flow-init
                                 flow-files-submitted="$flow.upload()"
                                 flow-file-success="artwork.image = $flow.files[0].uniqueIdentifier">
                                <img
                                        class=""
                                        height="150"
                                        ng-src="/uploads/{{ artwork.image }}"
                                        flow-img="$flow.files[0]">
                                <div ng-show="editableForm.$visible">
                                    <button
                                            type="button"
                                            class="btn btn-primary"
                                            flow-btn>
                                        <span class="glyphicon glyphicon-file"></span> Upload picture</button>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <h4 class="product-name">
                                    <strong editable-text="artwork.name">{{ artwork.name || "empty" }}</strong>
                                </h4>
                                <h4>
                                    <small editable-text="artwork.artist">{{ artwork.artist || "empty" }}</small>
                                </h4>
                                <h4>
                                    <small editable-text="artwork.year">{{ artwork.year || "empty" }}</small>
                                </h4>
                            </div>
                            <div class="col-lg-2">
                                <h4>
                                    <strong
                                            editable-select="artwork.type"
                                            e-ng-options="t.value as t.text for t in types"
                                            e-ng-change="artwork.type = $data">
                                    {{ artwork.type }}
                                    </strong>
                                </h4>
                            </div>
                            <div class="col-lg-2">
                                <h4>
                                    <strong>
                                        <span editable-text="artwork.size1" e-style="width: 50px">{{ artwork.size1 }}</span>
                                        {{ artwork.type == 'sculpture' ? 'X' : ':' }}
                                        <span editable-text="artwork.size2" e-style="width: 50px">{{ artwork.size2 }}</span>
                                        {{ artwork.type == 'sculpture' ? 'X' : ':' }}
                                        <span editable-text="artwork.size3" e-style="width: 50px">{{ artwork.size3 }}</span>
                                        {{ artwork.type == 'sculpture' ? 'cm' : '' }}
                                    </strong>
                                </h4>
                                <h3>
                                    <span
                                            class="label label-default"
                                            editable-color="artwork.color"
                                            style="background-color: {{ artwork.color }}"
                                            e-style="width: 100px; height: 40px">
                                        {{ artwork.color }}</span>
                                </h3>
                            </div>
                            <div class="col-lg-3 text-right">
                                <button
                                        type="submit" class="btn btn-primary btn-sm"
                                        ng-click="editableForm.$show()"
                                        ng-show="editableForm.$visible"
                                        ng-disabled="editableForm.$waiting">
                                    <span class="glyphicon glyphicon-ok"></span>&nbsp;Save
                                </button>
                                <button
                                        type="button" class="btn btn-default btn-sm"
                                        ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                                </button>
                                <button
                                        type="button" class="btn btn-default btn-sm"
                                        ng-click="delete(artwork)">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8">
                               <div class="row">
                                    <span editable-checkbox="artwork.attributed" e-title="Artwork only attributed to this artist?">
                                    <span
                                            class="glyphicon"
                                            ng-class="{'glyphicon-ok text-success': artwork.attributed, 'glyphicon-remove text-danger': !artwork.attributed}"></span>&nbsp;
                                    {{ artwork.attributed && "This artwork is only attributed to the artist" || "This artwork is attributed to multiple artists" }}
                                    </span>
                               </div>
                               <div class="row" style="margin-top: 20px">
                                   <div class="col-lg-4">
                                       <pre
                                               ng-show="artwork.description"
                                               editable-textarea="artwork.description"
                                               e-rows="7"
                                               e-cols="60">{{ artwork.description }}</pre>
                                   </div>
                                   <div class="col-lg-4">
                                       <pre
                                               ng-show="artwork.literature"
                                               editable-textarea="artwork.literature"
                                               e-rows="7"
                                               e-cols="60">{{ artwork.literature }}</pre>
                                   </div>
                               </div>
                            </div>
                        </div>
                        </form>
                        <hr>
                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <div class="col-lg-12">
                                <button
                                        type="button" href="" class="btn btn-default pull-right"
                                        ng-click="new()">
                                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Artwork
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endraw %}
{% endblock %}

