<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <footer>
                <small>
                    &copy; 2014 - Remco Wendt

                    <ul class="footer-nav">

                        <li><a href="{{ url_for('main.about') }}">About</a></li>

                        <li><a href="mailto:remco.wendt@gmail.com">Contact</a></li>
                    </ul>
                </small>
            </footer>
        </div>
    </div>
</div>
